.container{
	padding:0px !important;
}
#cover{
	height:30vh;
	max-height:300px;
	overflow: hidden;
	position: relative;
	text-shadow: 0 1px 2px rgb(0 0 0 / 35%);
	background-image:url(nicholascaporusso.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	filter:grayscale(100%);
}
#cover div{
	position:absolute;
	bottom:0;
	width:100%;
	padding-top:100%;
	padding-left:20px;
	background-color:rgba(255,255,255,0.7);
}
#photos{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
#photos > div{
	width:50%;
	cursor:pointer;
}
@media(min-width:800px){
	#photos > div{
		width:25%;
	}
}
.image{
	padding-top:100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}